@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<div class="frame-navigation">
        <a class="nav-noactive">@ViewBag.Title</a>
    </div>*@

<div class="row">
    <div class="spacetop-dashboard">&nbsp;</div>
    <div class="col-lg-12" style="text-align: center">
        <h1>.::AKASIA Transaction::.</h1>
        <img src="@Url.Content("~/Content/Images/dashboard2.jpg")" class="img-responsive" />
    </div>
</div>
